<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="zh" >
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    	<meta name="apple-touch-fullscreen" content="yes">
        <!-- If you delete this meta tag World War Z will become a reality -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0 ,user-scalable=0"/>
        <title>关于我们</title>
        <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
        <link rel="stylesheet" href="__STYLE__/css/normalize.css">
        <link rel="stylesheet" href="__STYLE__/css/fonts/foundation-icons.css">
        <link rel="stylesheet" href="__STYLE__/css/foundation.min.css">
        <!-- This is how you would link your custom stylesheet -->
        <link rel="stylesheet" href="__STYLE__/css/app.css">
        <script src="__STYLE__/js/foundationjs/vendor/modernizr.js"></script>
    </head>
    <body>
     <!-- body content here -->
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <nav class="tab-bar clearfix">
                    <section class="left-small left-off-canvas-toggle clearfix" aria-expanded="false">
                        <a class="menu-icon" href="#">
                            <span>导航</span>
                        </a>
                    </section> 
                </nav>
                <!-- Off Canvas Menu -->
                <!--侧边栏-->
                <aside class="left-off-canvas-menu">
                  
                    <div class="row left-off-person-info">
                      <div class="headpic">
                        
                      </div>
                    </div>
                    <ul class="off-canvas-list">
                        <li class="canvas-home ">首页</li>
                        <li class="canvas-personal">个人中心</li>
                        <li class="canvas-aboutUs canvas-current">关于我们</li>
                        <li class="canvas-help ">意见反馈</li>
                    </ul>
                    <div class="row settings">
                        <span class="message-icon"></span>
                    </div>
                </aside> 
                <!-- main content goes here -->
                <div class="row about-us-container">
                  <div class="small-12 columns">
                    <!-- Fighting-img -->
                    <div class="row">
                      <div class="small-12 large-4 large-centered columns fighting-img">
                        <p>摇一摇有惊喜哦！>_<</p>
                        <img src="__STYLE__/images/aboutUs.jpg" alt="战斗吧！">
                      </div>
                    </div>
                    <!-- 关于我们的描述 -->
                    <div class="row">
                      <div class="small-12 team-descripte">
                        <h3>开发团队——计算机学院·协同工作室前端组</h3>
                        <p>我们渴望一切美好，既沉迷于狂拽炫酷也流连返璞归真。</p>
                        <p>我们追求舒适的用户体验，也热衷于清晰而美的视觉效果。</p>
                        <p> PS : 许愿墙上线匆忙，必有很多不足，请各位多多包涵...</p>
                        <br />
                        <div class="contact-us">
                          <h6>联系我们：</h6>
                          <p>
                            网站：
                            <a href="http://gdutcscw.com">
                              gdutcscw.com
                            </a>
                          </p>
                          <p>
                            新浪博客：
                            <a href="http://blog.sina.com.cn/cscwweb">
                              协同前端仔
                            </a>
                          </p>
                          <p>邮箱：gdutcscw@126.com</p>
                        </div>
                        <hr />
                      </div>
                      <div class="small-12 team-descripte">
                        <h3>合作开发 —— 校学生会</h3>
                        <img src="__STYLE__/images/student-union-logo.png" alt="校学生会">
                        <p>工作理念：工作的每一天，是学习的每一天，是成长的每一天。</p>
                        <p>服务理念：一切为了学生；为了一切学生；为了学生一切。</p>
                        <p>培训理念：这不是精英荟萃的地方，而是精英辈出的摇篮。</p>
                        <br />
                        <div class="contact-us">
                          <h6>联系我们：</h6>
                          <p>
                            网站：
                            <a href="http://www.gdutsu.com">
                              www.gdutsu.com
                            </a>
                          </p>
                          <p>微信：广东工业大学学生会</p>
                          <p>
                            新浪微博：
                            <a href="http://weibo.com/gdutsu">
                              @广东工业大学学生会
                            </a>
                          </p>
                        </div>
                        <hr />
                      </div>
                      <div class="small-12 team-descripte">
                        <h3>合作开发 —— 广州歌莫信息技术有限公司</h3>
                        <img src="__STYLE__/images/gomobile_logo.png" alt="广州歌莫信息技术有限公司">
                        <p>专注 APP 开发，以坚强技术为支撑，用热情和投入，倾心为您量身定制满足需求、美观实用的 APP 。</p>
                        <br />
                        <div class="contact-us">
                          <h6>联系我们：</h6>
                          <p>微信：广州歌莫信息技术有限公司</p>
                          <p>地址：广东工业大学（大学城校区）理学馆 517 </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- close the off-canvas menu -->
                <a class="exit-off-canvas"></a>
            </div>
        </div>
         <!--提示框-->
                                 <include file="./Application/Home/View/User/attention.html" />
        <script src="__STYLE__/js/foundationjs/vendor/jquery.js"></script>
        <script src="__STYLE__/js/foundationjs/foundation.min.js"></script>
        <script src= "__STYLE__/js/aside.js"></script>
        <script>
        $(document).foundation();
           $('.canvas-help').click(function() {
           window.location.href = '/help';
       });

            //请稍后提示框
            var promptWait = function() {
                var $pop = $('.pop-layer');
                $pop.css({"display":"inline-block","top":"50%"});
            };

            window.onload = function(){
    	
            var setspeed = 2500;
            var set_roll_times = 2;
            var last_a,last_b,last_g,last_time=0,i=0;
            var succeed = 0;
            window.ondeviceorientation =  function(e) 
            {
             if(succeed == 1) return;
                 var now_time = new Date().getTime();
    
                 if(now_time - last_time>100)
                {
                    
                    var speed = (e.alpha+(e.beta-last_b)*2+(e.gamma-last_g)*0-last_a)/(now_time -last_time)*10000;
                    if (speed>setspeed)
                     {
                        
                        i++;
                        if(!settime)
                        var settime = setTimeout(function(){
                            if(i<set_roll_times){
                                alert("看来你不喜欢女生啊！换个姿势摇一摇");
                                i = 0;
                            }
                            else{
                                succeed = 1;
                                clearTimeout(settime);
                                setTimeout(window.location.href = '/lookaroundus',100);
                                promptWait();
                            }
                        },3000)
                     } 
                     last_time = now_time;
                     last_g = e.gamma;
                     last_b = e.beta;
                     last_a = e.alpha;  
                }
            }
	    
	}
        </script>
    </body>
</html>