<aside class="left-off-canvas-menu">
        <!-- whatever you want goes here -->
          <div class="row left-off-person-info">
            <div class="headpic">
              <!-- <img src="" alt="" class="face-radius" />
              <span class="person-name">Aeo</span> -->
            </div>
          </div>
          <ul class="off-canvas-list">
              <li class="canvas-home canvas-current">首页</li>
              <li class="canvas-personal">个人中心</li>
              <li class="canvas-aboutUs">关于我们</li>
              <li class="canvas-help">意见反馈</li>
          </ul>
          <div class="row settings">
              <span class="message-icon"></span>
          </div>
</aside>