<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="zh" >
    <head>
        <meta charset="utf-8">
        <!-- If you delete this meta tag World War Z will become a reality -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
        <title>广工女生节许愿墙</title>
        <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
        <link rel="stylesheet" href="__STYLE__/css/normalize.css">
        <link rel="stylesheet" href="__STYLE__/css/fonts/foundation-icons.css">
        <link rel="stylesheet" href="__STYLE__/css/foundation.css">
        <!-- This is how you would link your custom stylesheet -->
       <link rel="stylesheet" href="__STYLE__/css/app.css?foobar">
        <script src="__STYLE__/js/foundationjs/vendor/modernizr.js"></script>
    </head>
    <body>
     <!-- body content here -->
        <div class="wrap-page">
            <div class="row page-current page1">
                <div class="large-12 small-12 columns">
                    <div class="off-canvas-wrap" data-offcanvas>
                        <div class="inner-wrap">
                            <nav class="tab-bar clearfix">
                                <section class="left-small left-off-canvas-toggle clearfix" aria-expanded="false">
                                    <a class="menu-icon" href="#">
                                        <span>导航</span>
                                    </a>
                                </section> 
                            </nav> 
                            <!-- Off Canvas Menu -->
                            <!--侧边栏-->
                            <aside class="left-off-canvas-menu">
                            <!-- whatever you want goes here -->
                                <div class="row left-off-person-info">
                                  <div class="headpic">
                                    <!-- <img src="" alt="" class="face-radius" />
                                    <span class="person-name">Aeo</span> -->
                                  </div>
                                </div>
                                <ul class="off-canvas-list">
                                    <li class="canvas-home canvas-current">首页</li>
                                    <li class="canvas-personal">个人中心</li>
                                    <li class="canvas-aboutUs">关于我们</li>
                                    <li class="canvas-help ">意见反馈</li>
                                </ul>
                                <div class="row settings">
                                    <span class="message-icon"></span>
                                </div>
                            </aside>

                            <!-- main content goes here -->
                            <section class="main-section">
                                <div class="sub-page">
                                    <div class="row">
                                        <ul data-orbit>
                                            <li>
                                                <img src="__STYLE__/images/orbit1.jpg" alt="slide 1" />
                                            </li>
                                            <li class="active">
                                                <img src="__STYLE__/images/orbit2.jpg" alt="slide 2" />
                                            </li>
                                            <li>
                                                <img src="__STYLE__/images/orbit3.jpg" alt="slide 3" />
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                      <div class="small-12 columns adminMessage">
                                        <i class="fi-volume"></i>
                                        <ul class="adminMessageUl">
                                          <li><span>还剩不到 1 小时了喔，少侠们抓紧啦。</span></li>
                                          <li><span>记得去「个人中心」保存菇凉们的信息喔。</span></li>
                                          <li><span>再次对各位少侠表达谢意，祝生活愉快。</span></li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="wish-list-area">
                                          <ul class="select-wish-type">
                                            <li class="type-all" value="all-type">不限</li>
                                            <li class="type-time" value="2">耗时型</li>
                                            <li class="type-thing" value="1">实物型</li>
                                            <p>筛选</p>
                                            <ul class="screen-campus">
                                                <li value="all-campus">不限</li>
                                                <li value="大学城">大学城校区</li>
                                                <li value="东风路">东风路校区</li>
                                                <li value="龙洞">龙洞校区</li>
                                                <li value="番禺">番禺校区</li>
                                            </ul>
                                          </ul>
                                            <nav class="clearfix">
                                                <span>愿望列表</span>
                                                <div class="search-box right">
                                                    <input type="text" placeholder="搜索" class="search"/>
                                                    <a href="#">
                                                        <i class="fi-magnifying-glass"></i>
                                                    </a>
                                                </div>
                                            </nav>
                                            <ul class="wish-list">
                                            </ul>
                                             <!--底部分页-->
                                            <include file="./Application/Home/View/Index/page.html" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row sub-page1">
                                    <div class="row">
                                      <div class="small-12 columns">
                                        <!-- 时间轴 -->
                                        <br/>
                                        <div class="row">
                                          <div class="small-12 small-centered">
                                            <div class="small-12">
                                              <div class="small-3 to-upper to-upper-4">
                                                <span>填写资料</span>
                                              </div>  
                                            </div>
                                            <div class="row">
                                              <div class="small-11 small-centered time-set time-set-2">
                                                <span class="circle-in"></span>
                                                <span class="line-2"></span>
                                                <span class="circle"></span>
                                                <span class="line-2"></span>
                                                <span class="circle"></span>
                                              </div>
                                            </div>
                                            <div class="small-11 small-centered time-set-mes">
                                              <span class="mes-pos-7">领取愿望</span>
                                              <!-- <span class="mes-pos-5">填写资料</span> -->
                                              <span class="mes-pos-6">获取女生信息</span>
                                            </div>
                                          </div>  
                                        </div>
                                        <br/>
                                        <!-- 填写资料 -->
                                        <div class="row writewish">
                                          <br/>
                                          <div class="small-12 columns small-centered large-uncentered">
                                            <a href="#">填写资料</a>
                                          </div>
                                          <br/>
                                        </div>
                                        <div class="row write-message write-message-male"> 
                                          <div class="small-10 columns small-centered write-message-div">
                                            <div class="row">
                                              <div class="small-3 large-1 columns">
                                                <label for="right-label" class="right inline">姓名:</label>
                                              </div>
                                              <div class="small-9 large-11 columns write-message-input">
                                                <input type="text" placeholder="必填" class="name" required="required">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="small-10 columns small-centered write-message-div">
                                            <div class="row">
                                              <div class="small-3 large-1 columns">
                                                <label for="right-label" class="right inline">长号:</label>
                                              </div>
                                              <div class="small-9 large-11 columns write-message-input">
                                                <input type="tel" placeholder="必填" class="tel-long" required="required" id="telNum_male">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="small-10 columns small-centered write-message-div">
                                            <div class="row">
                                              <div class="small-3 large-1 columns">
                                                <label for="right-label" class="right inline">短号:</label>
                                              </div>
                                              <div class="small-9 large-11 columns write-message-input">
                                                <input type="tel" placeholder="" class="tel-short">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="small-10 columns small-centered write-message-div">
                                            <div class="row">
                                              <div class="small-3 large-1 columns">
                                                <label for="right-label" class="right inline">邮箱:</label>
                                              </div>
                                              <div class="small-9 large-11 columns write-message-input">
                                                <input type="email" class="email" placeholder="必填，格式为xxx@xx.com" required="required" id="emailInput_male">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="small-10 columns small-centered write-message-div">
                                            <div class="row">
                                              <div class="small-3 large-1 columns">
                                                <label for="right-label" class="right inline">校区:</label>
                                              </div>
                                              <div class="small-9 large-11 columns write-message-input">
                                                <label class="write-message-label">
                                                  <select class="campus">
                            						<option value="none"></option>
                                                    <option value="大学城">大学城</option>
                                                    <option value="龙洞">龙洞</option>
                                                    <option value="东风路">东风路</option>
                                                    <option value="番禺">番禺</option>
                                                  </select>
                                                </label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="small-10 columns small-centered write-message-div">
                                            <div class="row">
                                              <div class="small-3 large-1 columns">
                                                <label for="right-label" class="right inline">学院:</label>
                                              </div>
                                              <div class="small-9 large-11 columns write-message-input">
                                                <label class="write-message-label">
                                                  <select class="college">
                                                  </select>
                                                </label>
                                              </div>
                                            </div>
                                          </div> 
                                        </div>
                                        <div class="row">
                                            <div class="small-12 columns small-centered getwish-1-message">
                                              <p>男生们，5 分钟只能领取1个愿望哦。</p>
                                            </div>
                                        </div> 
                                        <!-- 下一步按钮 -->
                                        <div class="row wishwall-nextbutton-container">
                                          <div class="small-12 columns wishwall-nextbutton">
                                            <a class="return-index" href="javascript:void(0)">返回主页</a>
                                            <a class="next-step" id="accept-step" href="#">确认领取</a>
                                            <!-- <a href="#" class="false-get" id="accept-step">确认领取1</a> -->
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="row sub-page2">
                                  <div class="small-12 columns">
                                  <!-- 流程轴 -->
                                    <br/>
                                    <div class="row">
                                      <div class="small-12 small-centered">
                                        <div class="small-12">
                                          <div class="small-6 to-upper to-upper-5">
                                            <span>获取女生信息</span>
                                          </div>  
                                        </div>
                                        <div class="row">
                                          <div class="small-11 small-centered time-set time-set-2">
                                            <span class="circle-in"></span>
                                            <span class="line-2"></span>
                                            <span class="circle-in"></span>
                                            <span class="line-2"></span>
                                            <span class="circle"></span>
                                          </div>
                                        </div>
                                        <div class="small-11 small-centered time-set-mes">
                                          <span class="mes-pos-7">领取愿望</span>
                                          <span class="mes-pos-5">填写资料</span>
                                        </div>
                                      </div>  
                                    </div>
                                    <br/>
                                    <br/> 
                                  <!-- getwish-2 -->
                                      <div class="row">
                                        <div class="small-11 small-centered columns getwish-2-1">
                                          <h5>女生心愿：</h5>
                                          <p class="get-wish-text"></p>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="small-11 small-centered columns getwish-2-2">
                                          <h5>女生基本资料：</h5>
                                          <div class="row">
                                            <div class="small-12 columns getwish-without-type">
                                              <ul class="confirm-girls getwish-2-2">
                                                <li>· 姓名：<span class="girl-name"></span></li>
                                              </ul>
                                            </div>
                                          </div> 
                                          <div class="row">
                                            <div class="small-6 columns getwish-without-type">
                                              <ul class="confirm-girls getwish-2-2">
                                                <li>· 校区：<span class="girl-campus"></span></li>
                                              </ul>
                                            </div>
                                            <div class="small-6 columns getwish-without-type">
                                              <ul class="confirm-girls getwish-2-2">
                                                <li>学院：<span class="girl-college"></span></li>
                                              </ul>
                                            </div>
                                          </div> 
                                          <div class="row">
                                            <div class="small-6 columns getwish-without-type">
                                              <ul class="confirm-girls getwish-2-2">
                                                <li>· 长号：<span class="girl-long"></span></li>
                                              </ul>
                                            </div>
                                            <div class="small-6 columns short-num getwish-without-type">
                                             <ul class="confirm-girls getwish-2-2">
                                                <li>短号：<span class="girl-short"></span></li>
                                             </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="small-11 small-centered columns getwish-2-3">
                                          <h4>Tips:</h4>
                                            <p>愿望即将被清空，请少侠及时保存该菇凉信息以免信息丢失哦！</p>
                                            <p>再次感谢少侠使用本许愿墙，祝生活愉快！</p>
                                          </div>
                                      </div>
                                      <br/>
                                      <div class="row wishwall-nextbutton-container">
                                        <div class="small-12 columns wishwall-nextbutton wishwall-backbutton">
                                          <a class="back-wish" href="#">返回愿望列表</a>
                                        </div>
                                      </div>
                                  </div>    
                                </div>
                            </section>
                            
                            <!-- close the off-canvas menu -->
                            <a class="exit-off-canvas"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!--提示框-->
          <include file="./Application/Home/View/User/attention.html" />
        <script src="__STYLE__/js/foundationjs/vendor/jquery.js"></script>
        <script src="__STYLE__/js/foundationjs/foundation.min.js"></script>
        <script src="__STYLE__/js/script.js?foobar"></script>
         <script src="__STYLE__/js/getjson.js"></script>
        <script src="__STYLE__/js/index/index.js?foobar"></script>
        <script src="__STYLE__/js/pray.js?foobar"></script>
         <script src= "__STYLE__/js/aside.js?foobar"></script>
        <script>
        $(document).foundation();
                      //帮助与反馈
          $('.canvas-help').click(function() {
              window.location.href = '/help';
          });

        </script>
    </body>
</html>
