<div class="pagination-centered">
    <ul class="pagination" role="menubar" aria-label="Pagination">
        <li class="arrow unavailable " aria-disabled="true" id="prev-page"><a class="prev-page">&laquo; 往前</a></li>
        <li class=""><a href="#" value="1" class="first">1</a></li>
        <li><a href="#" value="2" class="second">2</a></li>
        <li class="unavailable" aria-disabled="true"><a href="#">&hellip;</a></li>
        <li><a href="#"value="12" class="lastone">3</a></li>
        <li><a href="#"value="13" class="last">4</a></li>
        <li class="arrow" id="next-page"><a href="#" class="next-page">往后 &raquo;</a></li>
    </ul>
</div>