    <div class="pop-layer-wp">
      <div class="pop-layer clearfix">
        <div class="spinner">
          <div class="spinner-container container1">
            <div class="x-circle1"></div>
            <div class="x-circle2"></div>
            <div class="x-circle3"></div>
            <div class="x-circle4"></div>
          </div>
          <div class="spinner-container container2">
            <div class="x-circle1"></div>
            <div class="x-circle2"></div>
            <div class="x-circle3"></div>
            <div class="x-circle4"></div>
          </div>
          <div class="spinner-container container3">
            <div class="x-circle1"></div>
            <div class="x-circle2"></div>
            <div class="x-circle3"></div>
            <div class="x-circle4"></div>
          </div>
        </div>
        <span>请稍候</span>
      </div>
    </div>
    <div class="pop-layer-wp-2">
      <div class="tips-box">
        <div class="tips-box-txt" id="ic-sn">
          
          <!--许愿成功-->
        </div>
      </div>
    </div>
    <div class="pop-layer-wp-3">
      <div class="tips-box">
        <div class="tips-box-txt" id="ic-failed">
          <i class="icon-failed"></i>
          <!--许愿失败-->
        </div>
      </div>
    </div>