<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0" />
  <title>女生个人中心</title>
  <link rel="stylesheet" href="__STYLE__/css/foundation.min.css">
  <link rel="stylesheet" href="__STYLE__/css/fonts/foundation-icons.css">
   <link rel="stylesheet" href="__STYLE__/css/app.css?foobar">
</head>
<body>
  <div class="wrap-page">
    <div class="row page-current page1">
      <div class="large-12 small-12 columns">
        <div class="off-canvas-wrap" data-offcanvas>
          <div class="inner-wrap">
            <nav class="tab-bar clearfix">
              <section class="left-small left-off-canvas-toggle clearfix" aria-expanded="false">
                  <a class="menu-icon" href="#">
                    <span>导航</span>
                  </a>
              </section> 
              <section class="right-small clearfix">
                  <i class="fi-heart"></i>
                  <span>许愿</span>
              </section>
            </nav>
            <!--侧边栏-->
            <aside class="left-off-canvas-menu">
              <!-- whatever you want goes here -->
                <div class="row left-off-person-info">
                  <div class="headpic">
                    <!-- <img src="" alt="" class="face-radius" />
                    <span class="person-name">Aeo</span> -->
                  </div>
                </div>
                <ul class="off-canvas-list">
                    <li class="canvas-home ">首页</li>
                    <li class="canvas-personal  canvas-current">个人中心</li>
                    <li class="canvas-aboutUs">关于我们</li>
                    <li class="canvas-help">意见反馈</li>
                </ul>
                <div class="row settings">
                    <span class="message-icon"></span>
                </div>
            </aside>
            <section class="main-section">
              <div class="row">
                <div class="columns large-12 small-12">
                  <div class="bg">
                    <div class="user-img">
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-content">
                <!--未实现的愿望-->
                <div class="tab-choice tab-current">
                  <div class="row">
                    <div class="columns large-12 small-12">
                      <p class="unrealized-wish">未实现的愿望</p>
                    </div>
                  </div>
                  <div class="row">
                    <ul class="columns large-12 small-12 unrealized-ul" id="noaccept">
                      

                    </ul>
                  </div>
                </div>

                <!--实现ing-->
                <div class="tab-choice">
                  <div class="row">
                    <div class="columns small-12 large-12">
                      <div class="center_imgarea">
                        <div class="visitors visitors-ing">
                        </div>
                        <div class="img_next">
                          <img src="__STYLE__/images/3.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row wish_inner">
                    <div class="columns small-12 large-12 columns-header" id ="wishing">
                      <p class="realized-wish">实现ing</p>
                    </div>
                  </div>
                </div>
                <!--已实现-->
                <div class="tab-choice">
                  <div class="row">
                    <div class="columns small-12 large-12">
                      <div class="center_imgarea">
                        <div class="visitors-finished visitors">
                        </div>
                        <div class="img_next">
                          <img src="__STYLE__/images/3.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row wish_inner">
                    <div class="columns small-12 large-12 columns-header" id="wished">
                      <p class="realized-wish">已实现愿望</p>
                    </div>
                  </div>
                </div>
                <!--个人信息-->
                <div class="tab-choice">
                  <div class="row">
                    <div class="columns large-12 small-12">
                      <div>
                        <ul class="center_button">
                          <li class="msg-current">资料</li>
                          <li>消息</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="msg-content">
                    <div class="msg-content-current">
                      <div class="row">
                        <div class="columns small-12 large-12 info">
                          <div class="info_div">
                            基本资料：
                            <button class="small_button1 button-margin changeInfo">修改</button>
                            <button class="small_button1 button-margin finishInfo">完成</button>
                          </div>
                          <div id="info">
                              <ul>
                              <li>姓名：<p class="whatwish name"></p></li>
                              <li>邮箱：<p class="whatwish email"></p></li>
                              <li class="clearfix">
                                <div class="columns small-6">校区：
                                  <p class="whatwish_select campus"></p>
                                  <select name="" id="changewish-select" class="campus_1">
                                    <option value="none"></option>
                                    <option value="大学城">大学城</option>
                                    <option value="龙洞">龙洞</option>
                                    <option value="东风路">东风路</option>
                                    <option value="番禺">番禺</option>
                                  </select>
                                </div>
                                <div class="columns small-6">学院：
                                  <p class="whatwish_select college"></p>
                                  <select name="" id="changewish-select" class="college">
                                    <option value="none"></option>
                                    <option value="外国语学院">外国语学院</option>
                                    <option value="计算机学院">计算机学院</option>
                                    <option value="管理学院">管理学院</option>
                                    <option value="艺术设计学院">艺术设计学院</option>
                                    <option value="经济与贸易学院">经济与贸易学院</option>
                                    <option value="政法学院">政法学院</option>
                                    <option value="建筑与城市规划学院">建筑与城市规划学院</option>
                                    <option value="商学院">商学院</option>
                                    <option value="轻工化工学院">轻工化工学院</option>
                                    <option value="应用数学学院">应用数学学院</option>
                                    <option value="环境科学与工程学院">环境科学与工程学院</option>
                                    <option value="机电工程学院">机电工程学院</option>
                                    <option value="信息工程学院">信息工程学院</option>
                                    <option value="自动化学院">自动化学院</option>
                                    <option value="材料与能源学院">材料与能源学院</option>
                                    <option value="土木与交通工程学院">土木与交通工程学院</option>
                                    <option value="物理与光电工程学院">物理与光电工程学院</option>
                                  </select>
                                </div>
                              </li>
                              <li class="clearfix">
                                <div class="columns small-6">长号：<p class="whatwish tel-long"></p></div><div class="columns small-6">短号：<p class="whatwish tel-short"></p></div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wish-inner wish_inner">
                    </div>
                  </div>
                </div>
              </div>
                <!--填写心愿部分-->
                <div class="row">
                  <ul class="footer-btn small-12 large-12 columns">
                    <li class="small-3 large-3 current">
                      <a href="javascript:;">未实现</a>
                    </li>
                    <li class="small-3 large-3">
                      <a href="javascript:;">实现ing</a>
                    </li>
                    <li class="small-3 large-3">
                      <a href="javascript:;">已实现</a>
                    </li>
                    <li class="small-3 large-3">
                      <a href="javascript:;">个人信息</a>
                    </li>
                  </ul>
                </div>
              <!--许愿界面-->
              <include file="./Application/Home/View/Userfemale/wish.html" />

            </section>

            <a class="exit-off-canvas"></a>
          </div>
        </div>
      </div>
    </div>
    <!--确认完成部分-->
    <div class="row page2">
      <div class="columns large-12 small-12">
        <div class="bg short-bg">
          <div class="user-img">
           
          </div>
          <a href="#" class="back">&lt;返回</a>
        </div>
      </div>
      <div class="columns large-12 small-12">
        <div class="confirm-list">
          <div>女生心愿:</div>
          <p></p>
        </div>
      </div>
      <div class="columns large-12 small-12">
        <div class="confirm-list boy-msg">
          <div>男生信息:</div>
          <div class="row">
            <div class="columns large-6 small-6">
              <ul>
                <li>姓名:</li>
                <li>校区:</li>
                <li>长号:</li>
              </ul>
            </div>
            <div class="columns large-6 small-6">
              <ul class="right-ul">
                <li>学院:</li>
                <li>短号:</li>
                <li>邮箱:</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <form id="confirm">
        <div class="row">
          <div class="columns large-12 small-12 message">
            <span>留言</span>
            <textarea name="" id="message" cols="30" rows="3"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="columns large-12 small-12">
            <p class="star-content">评星</p>
          </div>
        </div>
        <div class="row">
          <div class="columns large-12 small-12">
            <div id="star" value="">
              <ul>
                  <li><a href="javascript:;">1</a></li>
                  <li><a href="javascript:;">2</a></li>
                  <li><a href="javascript:;">3</a></li>
                  <li><a href="javascript:;">4</a></li>
                  <li><a href="javascript:;">5</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="columns large-12 small-12">
            <input type="submit" value="确认完成" class="finished">
          </div>
        </div>
      </form>
    </div>
    <!--留言部分-->
    <div class="row page3">
      <div class="row">
        <div class="columns large-12 small-12">
          <div class="bg short-bg">
            <div class="user-img">
             
            </div>
            <a href="#" class="back">&lt;返回</a>
            <div class="star">
              <ul>
                  <li class="small-star"></li>
                  <li class="small-star"></li>
                  <li class="small-star"></li>
                  <li class="small-star"></li>
                  <li class="small-star"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row reply-message">
        <div class="columns large-12 small-12">
          <p></p>
        </div>
        <div class="row">
          <div class="columns large-3 small-3">
            <img src="" alt="">
          </div>
          <div class="columns large-9 small-9">
            <ul>
              <li>姓名</li>
              <li>校区--学院</li>
              <li>长号/短号
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns large-12 small-12 reply-content clearfix">
          <!-- <div class="boy-reply">
            <div class="arrow-right"></div>
          </div>
          <div class="girl-reply">
            <div class="arrow-right"></div>
          </div>         
          <div class="boy-reply">
            <div class="arrow-right"></div>
          </div> -->
        </div>
      </div>
      <form id="reply-from">
        <div class="row message message-input">
          <div class="columns large-10 small-10">
            <input type="text" class="text"/>
          </div>
          <div class="columns large-2 small-2">
            <input type="submit" value="回复" class="reply" id="">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="myModal" class="reveal-modal" data-reveal>
    <p>删除当前愿望</p>
    <div>你真的这么残忍，要删除愿望吗？</div>
    <div class="delete-button">
      <a class="close-reveal-modal">取消</a>
      <a class="delete">确认删除</a>
    </div>
  </div>
     <!--提示框-->
    <include file="./Application/Home/View/User/attention.html" />
  <script src="__STYLE__/js/foundationjs/vendor/jquery.js"></script>
  <script src="__STYLE__/js/foundationjs/foundation.min.js"></script>
  <!-- <script src="__STYLE__/js/foundationjs/foundation/foundation.js"></script>-->
  <script src="__STYLE__/js/foundationjs/foundation/foundation.offcanvas.js"></script>
  <script src="__STYLE__/js/script.js"></script>
  <!-- 组装数据部分-->
  <script src="__STYLE__/js/getjson.js"></script>
  <script src="__STYLE__/js/user/userinfo.js?foobar"></script>
  <script src="__STYLE__/js/userfemale/female.js"></script>
  <script src="__STYLE__/js/pray.js?foobar"></script>
     <script src= "__STYLE__/js/aside.js?foobar"></script>
  <script>
    $(document).foundation();
        //帮助与反馈
      $('.canvas-help').click(function() {
          window.location.href = '/help';
      });

  </script>
</body>
</html>