


<div class="row sub-page1">
    <div class="small-12 columns female-con">
      <!--流程轴-->
      <br/>
          <div class="row">
            <div class="small-12 small-centered">
              <div class="small-12">
                <div class="small-3 to-upper">
                  <span>填写心愿</span>
                </div>  
              </div>
              <div class="row">
                <div class="small-11 small-centered time-set">
                  <span class="circle-in"></span>
                  <span class="line"></span>
                  <span class="circle"></span>
                  <span class="line"></span>
                  <span class="circle"></span>
                  <span class="line"></span>
                  <span class="circle"></span>
                </div>
              </div>
              <div class="small-11 small-centered time-set-mes">
                <span class="mes-pos-1">我要许愿</span>
                <span class="mes-pos-3">填写资料</span>
                <span class="mes-pos-4">确认完成</span>
              </div>
            </div>  
          </div>
      <br/>
       <!-- 填写心愿标志 -->
      <div class="row writewish">
        <br/>
        <div class="small-12 columns small-centered large-uncentered">
          <a href="#">填写心愿</a>
        </div>
        <br/>
      </div>
      <div class="row">
        <div class="small-11 small-centered large-8 large-centered columns writemywish-div">
          <form data-abide>
            <label>
              <textarea class="writemywish" pattern="^[\W\w]{1,140}$" placeholder="限定140字内"></textarea>
            </label>
            <small class="error">抱歉，字数超过140个字了。</small>
          </form>
        </div>
      </div> 

      <div class="row wishlabel">
        <div class="small-11 small-centered large-8 large-centered columns wishlabel">
          <label class="wish-label-select"> 
            <span>愿望类型：</span>
            <select class="wish-type">
              <option value="1">实物类</option>
              <option value="2">耗时类</option>
            </select> 
          </label>   
        </div>               
      </div>
    </div>    
    <br/> 
    <div class="row wishwall-nextbutton-container">
        <div class="small-12 columns wishwall-nextbutton">
          <a class="next-step" href="#">下一步</a>
        </div>
    </div>
</div>
<div class="row sub-page2">                
  <div class="small-12 columns">
    <!-- 流程轴 -->
      <br/>
          <div class="row">
            <div class="small-12 small-centered">
              <div class="small-12">
                <div class="small-3 to-upper to-upper-2">
                  <span>填写资料</span>
                </div>  
              </div>
              <div class="row">
                <div class="small-11 small-centered time-set">
                  <span class="circle-in"></span>
                  <span class="line"></span>
                  <span class="circle-in"></span>
                  <span class="line"></span>
                  <span class="circle"></span>
                  <span class="line"></span>
                  <span class="circle"></span>
                </div>
              </div>
              <div class="small-11 small-centered time-set-mes">
                <span class="mes-pos-1">我要许愿</span>
                <span class="mes-pos-2">填写心愿</span>
                <span class="mes-pos-4">确认完成</span>
              </div>
            </div>  
          </div>
      <br/>
    <div class="row writewish">
      <br/>
      <div class="small-12 columns small-centered large-uncentered">
        <a href="#">填写资料</a>
      </div>
      <br/>
    </div>
    <div class="row write-message write-message-female"> 
      <div class="small-10 columns small-centered write-message-div">
        <div class="row">
          <div class="small-2 large-1 columns">
            <label for="right-label" class="right inline">姓名:</label>
          </div>
          <div class="small-10 large-11 columns write-message-input">
            <input type="text" class="name" placeholder="必填" required="required">
          </div>
        </div>
      </div>
      <div class="small-10 columns small-centered write-message-div">
        <div class="row">
          <div class="small-2 large-1 columns">
            <label for="right-label" class="right inline">长号:</label>
          </div>
          <div class="small-10 large-11 columns write-message-input">
            <input type="tel" class="tel-long" placeholder="必填" required="required"  id="telNum">
          </div>
        </div>
      </div>
      <div class="small-10 columns small-centered write-message-div">
        <div class="row">
          <div class="small-2 large-1 columns">
            <label for="right-label" class="right inline">短号:</label>
          </div>
          <div class="small-10 large-11 columns write-message-input">
            <input type="tel" class="tel-short" placeholder="">
          </div>
        </div>
      </div>
      <div class="small-10 columns small-centered write-message-div">
        <div class="row">
          <div class="small-2 large-1 columns">
            <label for="right-label" class="right inline">邮箱:</label>
          </div>
          <div class="small-10 large-11 columns write-message-input">
            <input type="email" class="email" placeholder="必填，格式为xxx@xx.com" required="required" id="emailInput">
          </div>
        </div>
      </div>
      <div class="small-10 columns small-centered write-message-div">
        <div class="row">
          <div class="small-2 large-1 columns">
            <label for="right-label" class="right inline">校区:</label>
          </div>
          <div class="small-10 large-11 columns write-message-input">
            <label class="write-message-label">
              <select class="campus" >
                  <option value="none"></option>
                <option value="大学城">大学城</option>
                <option value="龙洞">龙洞</option>
                <option value="东风路">东风路</option>
                <option value="番禺">番禺</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="small-10 columns small-centered write-message-div">
        <div class="row">
          <div class="small-2 large-1 columns">
            <label for="right-label" class="right inline">学院:</label>
          </div>
          <div class="small-10 large-11 columns write-message-input">
            <label class="write-message-label">

              <select class="college">                             
              </select>
            </label>
          </div>
        </div>
      </div> 
    </div> 
    <br/>
   
    <div class="row wishwall-nextbutton-container">
      <div class="small-12 columns wishwall-nextbutton">
        <a class="last-step" href="#">上一步</a>
        <a class="next-step2" href="#">下一步</a>
      </div>
    </div>
  </div> 
</div>
<div class="row sub-page3">
  <div class="small-12 columns">
     <!-- 流程轴 -->
      <br/>
          <div class="row">
            <div class="small-12 small-centered">
              <div class="small-12">
                <div class="small-3 to-upper to-upper-3">
                  <span>确认完成</span>
                </div>  
              </div>
              <div class="row">
                <div class="small-11 small-centered time-set">
                  <span class="circle-in"></span>
                  <span class="line"></span>
                  <span class="circle-in"></span>
                  <span class="line"></span>
                  <span class="circle-in"></span>
                  <span class="line"></span>
                  <span class="circle"></span>
                </div>
              </div>
              <div class="small-11 small-centered time-set-mes">
                <span class="mes-pos-1">我要许愿</span>
                <span class="mes-pos-2">填写心愿</span>
                <span class="mes-pos-3">填写资料</span>
              </div>
            </div>  
          </div>
      <br/> 
    <div class="row wishchanges">
      <div class="small-12 columns">
        <div class="small-6 columns">
          <a href="#" class="wish-change-a">我的心愿</a>    
        </div>
        <div class="small-6 columns wish-change">
          <!-- <a href="#" class="change-wish-btn">修改</a> -->
          <!-- <a href="#" id="complete-change">完成</a> -->
        </div>
      </div>
    </div>
   
    <div class="row">
      <div class="small-12 columns">
        <div class="small-3 columns wish-change-type">
          <a href="#" class="pray-type">实物型</a> 
        </div>
        <div class="small-9 columns wish-change-text">
          <p class="pray-text"></p>  
        </div>
      </div>
    </div> 
    <br/>
    
    <div class="row wishchanges">
      <div class="small-12 columns">
        <div class="small-6 columns">
          <a href="#" class="wish-change-a">我的资料</a>    
        </div>
        <div class="small-6 columns wish-change">
           <!-- <a href="#" class="change-info-btn">修改</a> -->
          <!-- <a href="#" id="complete-info-change">完成</a> -->
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <ul class="confirm-girls">
          <li>·&nbsp;姓名：<span class="pray-name"></span></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <ul class="confirm-girls">
          <li>·&nbsp;邮箱：<span class="pray-email"></span></li>
        </ul>
      </div>
    </div> 
    <div class="row">
      <div class="small-7 columns">
        <ul class="confirm-girls">
          <li>·&nbsp;校区：<span class="pray-campus"></span></li>
        </ul>
      </div>
      <div class="small-5 columns confirm-without-type">
        <ul class="confirm-girls">
          <li>学院：<span class="pray-college"></span></li>
        </ul>
      </div>
    </div> 
    <div class="row">
      <div class="small-7 columns">
        <ul class="confirm-girls">
          <li>·&nbsp;长号：<span class="pray-long"></span></li>
        </ul>
      </div>
      <div class="small-5 columns short-num confirm-without-type">
        <ul class="confirm-girls">
          <li>短号：<span class="pray-short"></span></li>
        </ul>
      </div>
    </div>
    <br/>
    
    <div class="row wishwall-nextbutton-container">
      <div class="small-12 columns wishwall-nextbutton">
        <a class="last-step2" href="#">上一步</a>
        <a href="#" class="confirm-pray">确&nbsp;&nbsp;&nbsp;&nbsp;认</a>
      </div>
    </div>
  </div>
</div>